<!-- Based on the free W3Schools Bootstrap 5 template -->
<!-- Authors: Christopher Walsh & Jaison Vargis
     Date started: 18/11/23
     Date submitted: 10/12/23
     This is the general about page for RoyalHotels
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Royal Hotels</title>
  <link rel="icon" type="image/x-icon" href="/Logos/favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/custom.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <script src="/Node/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>


<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <div class="container-fluid">
    <div class="navbar-header d-flex align-items-center">
      <a class="navbar-brand">
        <img src="/Logos/logo-color1.png" class="me-3">
        <b>Royal Hotels</b>
      </a>
    </div>
    <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/"><b>Home</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about"><b>About</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus"><b>Contact Us</b></a>
      </li>
    </ul>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <% if (!req.session.user) { %>
        <li class="nav-item">
          <a class="nav-link" href="login"><b>Login</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login"><b>Register</b></a>
        </li>
      <% } else { %>
        <% if (req.session.user && req.session.user.email == 'admin@royalhotels.com') { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin"><b>Manage</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts"><b><%= req.session.user.firstName %></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/mybookings"><b>My Bookings</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts"><b><%= req.session.user.firstName %></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>
      <% } %>
    </ul>
  </div>
</nav>
<!-- End Navbar -->

<!-- Divs to add spacing between the top of the page and the image -->
<div class="mt-2 col-md-12">
  <p class="text-white prevent-select" style="visibility: hidden;">Spacing</p>
</div>
<div class="mt-2 col-md-12">
  <p class="text-white prevent-select" style="visibility: hidden;">Spacing</p>
</div>
<div class="mt-2 col-md-12">
  <p class="text-white prevent-select" style="visibility: hidden;">Spacing</p>
</div>

<!-- Header of website -->
<!-- Find image with better aspect ratio possibly something using widescreen format -->
<!-- Fix caption text -->
<div class="p-4 image-container">
  <img src="/Generic/BalconyView1Cropped.png" class="img-fluid rounded">
  <div class="top-right">
    <img src="/Logos/logo-color.png" class="img-fluid me-3">
  </div>
</div>

<!-- About 1 - Bootstrap Brain Component -->
<!-- https://bootstrapbrain.com/component/bootstrap-about-us-page-section/#code -->
<!-- About us text generated using chatgpt. -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="Generic/Krusty_Towers.png" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="h1 mb-3">About us</h2>
            <p class="lead fs-4 text-secondary mb-3">Welcome to Royal Hotels, your home away from home in the heart of Europe. We are a premier hotel chain with locations spread across multiple cities, offering a unique blend of comfort, luxury, and authentic European hospitality.</p>
            <p class="mb-5">Our journey began with a vision to create an unparalleled experience for our guests, one that mirrors the royal treatment. Today, we are proud to have our presence in some of the most iconic cities in Europe, each hotel reflecting the charm and history of its host city.

              At Royal Hotels, we believe in providing more than just a place to stay. We offer an experience steeped in elegance, enriched with the culture of the city, and wrapped in the warmth of exceptional service. Our rooms are designed with utmost attention to detail to ensure a comfortable and memorable stay for our guests.
              
              From the moment you step into any of our hotels, you will be enveloped in a world of sophistication and exceptional service. Our dedicated staff is always at your service, ensuring your stay is relaxing and enjoyable.
              
              Whether you’re on a business trip or a leisurely vacation, Royal Hotels promises a stay that is as memorable as the cities we reside in. We look forward to welcoming you to our family of satisfied guests.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<!-- https://getbootstrap.com/docs/5.1/examples/footers/ -->
<div class="mt-5 p-4 bg-primary text-white text-center">
  <img src="/Logos/twitter.png" class="social-logo">
  @royalhotels
  <img src="/Logos/facebook.png" class="social-logo">
  Royal Hotels
  <img src="/Logos/linkedin.png" class="social-logo">
  Royal Hotels
  <img src="/Logos/instagram.png" class="social-logo">
  @royalhotels

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-white">2023 Royal Hotels</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
  </footer>
</div>
<!-- End Footer -->
</body>
</html>
