<!-- Based on the free W3Schools Bootstrap 5 template -->
<!-- This is the login page that users will be redirected to when they select login in the navbar
On this page users will be able to Signup for an account or login to an already registered account
below the signup form -->
<!-- Authors: Christopher Walsh & Jaison Vargis
     Date started: 18/11/23
     Date submitted: 10/12/23
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Royal Hotels</title>
  <link rel="icon" type="image/x-icon" href="/Logos/favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/custom.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <script src="/Node/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>


<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <div class="container-fluid">
    <div class="navbar-header d-flex align-items-center">
      <a class="navbar-brand">
        <img src="/Logos/logo-color1.png" class="me-3">
        <b>Royal Hotels</b>
      </a>
    </div>
    <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/"><b>Home</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about"><b>About</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus"><b>Contact Us</b></a>
      </li>
    </ul>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="login"><b>Login</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login"><b>Register</b></a>
      </li>
    </ul>
  </div>
</nav>
<!-- End Navbar -->

<!-- Divs to add spacing between the top of the page and the image -->
<div class="mt-2 col-md-12">
  <p class="text-white prevent-select" style="visibility: hidden;">Spacing</p>
</div>
<div class="mt-2 col-md-12">
  <p class="text-white prevent-select" style="visibility: hidden;">Spacing</p>
</div>
<div class="mt-2 col-md-12">
  <p class="text-white prevent-select" style="visibility: hidden;">Spacing</p>
</div>

<!-- Header of website -->
<!-- Find image with better aspect ratio possibly something using widescreen format -->
<!-- Fix caption text -->
<div class="p-4 image-container">
  <img src="/Generic/BalconyView1Cropped.png" class="img-fluid rounded">
  <div class="top-right">
    <img src="/Logos/logo-color.png" class="img-fluid me-3">
  </div>
</div>

<!-- Flash  messages -->
<!-- Display flash messages -->
<% if (messages.success) { %>
  <div class="alert alert-success">
      <%= messages.success %>
  </div>
<% } %>
<% if (messages.error) { %>
  <div class="alert alert-danger">
      <%= messages.error %>
  </div>
<% } %>
<!-- end flash messages -->

<!-- Login Forms -->
<div class="container">
    <div class="row">
        <!-- Register Form -->  
        <div class="col-sm-5">
            <form method="POST" action="/register">
                <h1 class="h3 mb-3 fw-normal">Register</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name">
                    <label for="floatingInput">First name</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
                    <label for="floatingInput">Last name</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
            </form>
        </div>
        <!-- End Regsiter Form -->

        <!-- Login Form -->
        <div class="col-sm-5 ms-auto">
            <form method="POST" action="/login">
                <h1 class="h3 mb-3 fw-normal">Login</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Login</button> 
            </form>
        </div>
    </div> 
</div>
<!-- End Login Form -->

<!-- Footer -->
<!-- https://getbootstrap.com/docs/5.1/examples/footers/ -->
<div class="mt-5 p-4 bg-primary text-white text-center">
  <img src="/Logos/twitter.png" class="social-logo">
  @royalhotels
  <img src="/Logos/facebook.png" class="social-logo">
  Royal Hotels
  <img src="/Logos/linkedin.png" class="social-logo">
  Royal Hotels
  <img src="/Logos/instagram.png" class="social-logo">
  @royalhotels

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-white">2023 Royal Hotels</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
  </footer>
</div>
<!-- End Footer -->
</body>
</html>
